
.cart{
    padding-top: 30px;
    &-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 1px solid;
        &-left{
            display: flex;
            align-items: center;
            column-gap: 10px;
        }
        &-img{
            width: 200px;
        }
        &-right{
            display: flex;
            align-items: center;
            column-gap: 10px;
        }
    }
}
